<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="be-comment-block">
	<div class="be-comment border background">
		<div class="be-img-comment">	
			<a href="blog-detail-2.html">
				<img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="be-ava-comment">
			</a>
		</div>
		<div class="be-comment-content ">
			<span class="be-comment-name">
				<h3 href="blog-detail-2.html">{{post.user.username}}</h3>
			</span>
			<span class="be-comment-time text-dark">
				<i class="fa fa-clock-o text-dark"></i>
				{{post.date}}
				<button type="button" *ngIf="showDeletePost" (click)="deletePost()" class="btn btn-outline-danger font-weight-bold">Delete</button>
			</span>
			<!-- <p class="be-comment-text">{{post.content}}</p> -->
			<div class="timeline-content">
				<p class="lead">
				  <i class="fa fa-quote-left fa-fw pull-left"></i>
				  {{ post.content }}
				  <i class="fa fa-quote-right fa-fw"></i>
				</p>
			  </div>
			<p class="float-right">Rating: {{post.rating}} Views: {{post.viewers}}</p><br>
		</div>
	</div>
	<br>
	<h1 class="comments-title">Comments: {{post.comments.length}}</h1>
	
	<ul>
		<li *ngFor="let cc of comments"> 
			<div class="be-comment">
				<div class="be-img-comment">	
					<a href="blog-detail-2.html">
						<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
					</a>
				</div>
				<div class="be-comment-content">
					
						<span class="be-comment-name">
							<h4 href="blog-detail-2.html">{{cc.user.username}}</h4>
							</span>
						<span class="be-comment-time text-dark">
							<i class="fa fa-clock-o text-dark"></i>
							{{cc.date}}
							<button type="button" *ngIf="showDeleteComment" (click)="deleteComment(cc.id)"  class="btn btn-outline-danger font-weight-bold">Delete</button>
						</span>
		
					<p class="be-comment-text">
						{{cc.content}}
					</p>
				</div>
			</div>
		</li>
	</ul>
</div>
</div>