<div class="container bootstrap snippets bootdey">
    <div class="row">
		<div class="col-md-12">
		    <div class="blog-comment">
				<h3 class="text-success">Comments</h3>
                <hr/>
				<ul class="comments">
				<li class="clearfix">
				  <div class="post-comments">
                    
				      <p class="meta">date <a>username</a> says : <i class="float-right"><small>viewers</small></i></p>
				      <div>
                        <p class="avatar" class="float-left" alt="">Attachment</p>
				          content
                          
                      </div>
                      <p><i class="float-right"><small>rating</small></i></p>
				  </div>
				</li>
				<li class="clearfix">
				  <div class="post-comments">
				      <p class="meta">Dec 19, 2014 <a href="#">JohnDoe</a> says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>
				      <p>
				          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				          Etiam a sapien odio, sit amet
				      </p>
				  </div>
				
				  <ul class="comments">
				      <li class="clearfix">
				          <div class="post-comments">
				              <p class="meta">Dec 20, 2014 <a href="#">JohnDoe</a> says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>
				              <p>
				                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				                  Etiam a sapien odio, sit amet
				              </p>
				          </div>
				      </li>
				  </ul>
				</li>
				</ul>
			</div>
		</div>
	</div>
</div>