<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="content" class="content content-full-width">
        <!-- begin profile -->
        <!-- end profile -->
        <!-- begin profile-content -->
        <div class="profile-content">
          <!-- begin tab-content -->
          <div class="tab-content p-0">
            <!-- begin #profile-post tab -->
            <button
              *ngIf="logged"
              class="btn btn-success"
              [routerLink]="['/add-post']"
            >
              Create new post
            </button>
            <div class="tab-pane fade active show" id="profile-post">
              <!-- begin timeline -->
              <ul class="timeline">
                <li *ngFor="let post of posts; let i = index">
                  <!-- begin timeline-time -->
                  <div class="timeline-time">
                    <!-- <span class="date">today</span> -->
                    <span class="time">{{ convertDate(post.date) }}</span>
                  </div>
                  <!-- end timeline-time -->
                  <!-- begin timeline-icon -->
                  <div class="timeline-icon">
                    <a href="javascript:;">&nbsp;</a>
                  </div>
                  <!-- end timeline-icon -->
                  <!-- begin timeline-body -->
                  <div class="timeline-body">
                    <div class="timeline-header">
                      <span class="userimage"
                        ><img
                          src="https://bootdey.com/img/Content/avatar/avatar3.png"
                          alt=""
                      /></span>
                      <span class="username"
                        ><a href="javascript:;">{{ post.user.username }}</a>
                        <small></small
                      ></span>
                      <span class="pull-right text-muted">18 Views</span>
                    </div>
                    <div class="timeline-content">
                      <p class="lead">
                        <i class="fa fa-quote-left fa-fw pull-left"></i>
                        {{ post.content }}
                        <i class="fa fa-quote-right fa-fw pull-right"></i>
                      </p>
                    </div>
                    <div class="timeline-likes">
                      <div class="stats-right">
                        <a class="stats-text" href="comment/{{ post.id }}"
                          >{{ post.comments.length }} Comments</a
                        >
                      </div>
                      <div class="stats">
                        <span class="fa-stack fa-fw stats-icon">
                          <i class="fa fa-circle fa-stack-2x text-danger"></i>
                          <i
                            class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"
                          ></i>
                        </span>
                        <span class="fa-stack fa-fw stats-icon">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="stats-total">4.3k</span>
                      </div>
                    </div>
                    <div class="timeline-footer">
                      <a href="javascript:;" class="m-r-15 text-inverse-lighter"
                        ><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i>
                        Like</a
                      >
                      <a
                        href="javascript:;"
                        (click)="openNewComment(i)"
                        class="m-r-15 text-inverse-lighter"
                        ><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> New
                        comment</a
                      >
                    </div>
                    <div
                      *ngIf="previewNewCommentSection[i] && logged"
                      class="timeline-comment-box"
                    >
                      <div class="user">
                        <img
                          src="https://bootdey.com/img/Content/avatar/avatar3.png"
                        />
                      </div>
                      <div class="input">
                        <form action="">
                          <div class="input-group">
                            <input
                              type="text"
                              [(ngModel)]="comments[i]"
                              class="form-control rounded-corner"
                              placeholder="Write a comment..."
                              name="asd"
                            />
                            <span class="input-group-btn p-l-10">
                              <button
                                class="btn btn-primary f-s-12 rounded-corner"
                                type="button"
                                (click)="sendComment(i, post)"
                              >
                                Comment
                              </button>
                            </span>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- end timeline-body -->
                </li>
                <!-- ///////////////////////////////////////////////////////////////////////
                ///////////////////////////////////////////////////////////////////
              /////////////////////////////////////////////////////////////
            /////////////////////////////////////////////////////////////
          ///////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////
      //////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////-->
              </ul>
              <!-- end timeline -->
            </div>
            <!-- end #profile-post tab -->
          </div>
          <!-- end tab-content -->
        </div>
        <!-- end profile-content -->
      </div>
    </div>
  </div>
</div>
